{% extends 'tour/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       <a href="{% url 'blog:post_edit' pk=post.pk %}" class="top-menu"><i class="fas fa-edit"></i></a>
    {% endblock %}
{% block content %}
          
<div class="container-fluid">
   
<!--- Jumbotron -->
    <div class="jumbotron row d-flex  justify-content-center text-right ">
        <div class="col-sm-12 col-md-10 col-lg-3 runner">
     
                {% include 'blog/blog_side_bar.html'  %}
            
        </div><!-- col-md-3 col-lg-4 disapear_sm runner -->
    
        
        <div class="col-sm-12 col-md-12 col-lg-8">
        
            <div class="row main_text">
         
                      {% if user.is_authenticated %}
                     <div class="col-12">
                             <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><i class="fas fa-edit"></i></a>
                             <a class="btn btn-default" href="{% url 'blog:post_remove' pk=post.pk %}"><i class="fas fa-trash"></i></a>
                    </div>
                    {% endif %}
                     <div class="col-12 blog_name">
                    <h2>{{ post.title }}</h2>
                    <hr>
                    </div>
                    <div class="col-12">
                        {% if post.published_date %}
                                   <div class="text-right mb-2"><i><b>{{ post.published_date|date:"d.m.Y" }}</b></i></div>
                                    {% else %}
                           <a class="btn btn-default" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>
                           
                           {% endif %}
                    </div>
                    <div class="col-12"><p>
                   {{ post.text |linebreaks |urlize}}</p>
                    </div>
        
        
            </div> <!-- "row main_text"  -->     
            
            
                {% for phrase in post.phrases.all %}
                    {% if user.is_authenticated %}
                        <div class="col-12">
                        <a class="btn btn-default" href="{% url 'blog:phrase_edit' pk=phrase.pk %}"><i class="fas fa-edit"></i>ערוך פסקה תחתונה</a>
                        <!--<a class="btn btn-default" href="{% url 'blog:post_remove' pk=post.pk %}"><i class="fas fa-trash"></i></a>-->
                        </div>
                    {% endif %}
                    {% if phrase.title %}
                    <div class="col-12">
                        <h3>{{ phrase.title }}</h3>
                    </div>
                    {% endif %}
                
                    {% if phrase.text1 %}
                    <div class="col-12">

                        {% if phrase.text1_html_style is True %}
                            {{ phrase.text1 |safe}}
                        {% else %}
                            {{ phrase.text1 |linebreaks |urlize }}
                        {% endif %}
                    </div>

                    {% endif %}
                    <div class="row">
                    {% if phrase.image.url is not null %}
                        <div class="col-sm-12 col-md-6 col-lg-6">

                            <a class="phrase_img" href="#" data-image-id="" data-toggle="modal" data-title=""
                            data-image="{{phrase.image.url}}"
                            data-target="#image-post">
                            <img class="img-thumbnail"
                                src="{{phrase.image.url}}"
                                alt="">
                            </a>
                        </div>

                    {% endif %}
                        {% if phrase.image2.url is not null %}
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <a class="phrase_img" href="#" data-image-id="" data-toggle="modal" data-title=""
                        data-image="{{phrase.image2.url}}"
                        data-target="#image-post">
                        <img class="img-thumbnail"
                            src="{{phrase.image2.url}}"
                            alt="">
                    </a>
                    </div>

                    {% endif %}
                    {% if phrase.image3.url is not null %}
                    <div class="col-sm-12 col-md-6 col-lg-6 ">
                        <a class="phrase_img" href="#" data-image-id="" data-toggle="modal" data-title=""
                    data-image="{{phrase.image3.url}}"
                    data-target="#image-post">
                    <img class="img-thumbnail"
                        src="{{phrase.image3.url}}"
                        alt="">
                    </a>
                    </div>

                  {% endif %}
                </div>
                    
                   
                
                    {% if phrase.text2 %}
                    <div class="col-12">
                        {% if phrase.text2_html_style is True %}
                            {{ phrase.text2 |safe}}
                        {% else %}
                            {{ phrase.text2 |linebreaks |urlize }}
                        {% endif %}
                    </div>
                    {% endif %}
                {% empty %}
                <div class="col-12">

                    <p>אין תוכן</p>
                </div>

                {% endfor %}
                {% if user.is_authenticated %}

                <a class="btn btn-default" href="{% url 'blog:phrase_new' pk=post.pk %}"><i class="fas fa-edit"></i>הוסף פסקה חדשה</a>
                {% endif %}

            
            
            <hr>
            <div class="row main_text">
                <a class="btn btn-default" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">הוסף תגובה</a>
            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                <div class="col-12">
                        <strong>{{ comment.author }}</strong>
                    {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><i class="fas fa-trash"></i></a>
                    <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><i class="fa fa-check"></i></a>
                    {% endif %}
                    <div class="comment_space">

                        <div class="date">{{ comment.created_date|date:"d.m.Y" }}</div>
                        {{ comment.text|linebreaks|urlize }}
                    </div>
                </div>
    {% endif %}
    
    
    {% empty %}
        <p>אין תגובות</p>
    {% endfor %}
            </div>
        </div>  <!-- col-sm-12 col-md-12 col-lg-8 -->             
          
<!--- Our tours row -->

          
            
<!--- Close previous div -->
    </div><!-- jumbotron row  text-center .d-none .d-sm-block -->
</div><!-- container-fluid -->
<!--- Welcome Section -->

    





{% endblock %}
