<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">
    
    <p>שלום אהובה,</p>
    <div class="col-12 success" align="right">
    {% if comment_to_post %}
        <p>תגובה לפוסט</p>

    {% else %}
    <p>תגובה לתגובה בפוסט</p>
    {% endif %}
    <p>{{ comment.post.title}}</p>
    
    <p>{{ comment.text}}</p>
    <hr>
    <p>{{ comment.author}}</p>
    <hr>


    
    <p>שלך</p>
     <p>נועם    </p>
      
    </div>
</div>

</body>
</html>

comment_to_post,comment