{% load static %}
{% load blog_extras %}
<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>
    <style type="text/css">
        img {
            border:2px solid #9d9ea0;
            
         }
         .fram_border{
            border:3px solid #070707;
            padding:3px;
            text-align:right;

         }

    </style>
</head>
<body>


    <div class="col-12 frame_border" align="right">
        <h3><font color="blue">שלום {{subscribed.first_name}}</font></h3>
        <h2 font color="blue">{{ post.title }}</font></h2>
        <br>    
            {{ post.text |blog_url_and_linebreaks }}
        <br>        
            <img width=50% src="https://www.cambridgeinhebrew.com/{{post.image.url}}">

        <a href="www.cambridgeinhebrew.com/blog/{{post.url}}">להמשך קריאה</a>
    </div>

</body>
</html>